# =========================
# Ambiente virtual
# =========================
.venv/
.bin/.venv/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Build
# =========================
build/
dist/
.bin/build/
.bin/dist/

# =========================
# Apenas permitir código
# =========================
*.exe
!Invoice_AutoHandler_*.exe

# =========================
# BLOQUEAR TODOS OS DADOS
# =========================
*.pdf
*.xlsx
*.xls
*.csv
*.db
*.xml
*.txt

# =========================
# Permitir código/config essencial
# =========================
!*.py
!*.json

# =========================
# Permitir scripts na .bin
# =========================
!.bin/**/*.py
!.bin/**/*.json

# =========================
# VS Code / Windows
# =========================
.vscode/
Thumbs.db
Desktop.ini

# =========================
# Pastas operacionais
# =========================
ASSINATURAS/
AYVENS/
BKP/
DELTA/
EDP/
EPAL/
EPAL_TXT/
EVIO/
GALP/
GENERALI/
HIGIENET/
LEASEPLAN/
PETIT_FORESTIER/
SAMSIC/
VIA_VERDE/